.question {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  padding: 30px;
  border: 1px solid black;
}
.question-title {
  font-weight: 500;
  font-size: 22px;
  padding: 20px;
}
.answer-choices {
  list-style-type: none;
}

.quiz-option {
  margin: 20px;
}
