.body {
  background-color: #2b2d42;
  position: relative;
}

.slogan {
  color: #8d99ae;
  text-align: center;
}

.logo-img {
  align-items: center;
  justify-content: center;
  margin: auto;
  display: block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2b2d42;
  color: white;
  text-align: center;
  font-size: 18px;
}

#title {
  text-align: center;
  color: #d90429;
  font-size: 80px;
}

#start-btn {
  background-color: #8d99ae;
  color: #edf2f4;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
